.nav-item{
    margin-right: 40px;
}

.nodec {
    text-decoration: none;
    color: white;
}

.alturanav {
        height: 20px;
        border: solid black 1px;
    }

    .border-custom {
        box-shadow: 1px 1px 2px ;
}
.navbar-brand{
    height: 60px;
}
.botao-login {
    text-decoration: none;
    color: white;
}

.btn-entrar{
    bottom: 70px;
}

.altura2 {
    height: 60px    ;
}

.backcustom {
    background-image: url(credito.avif);
}

.altura {
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mtcustom {
    margin-top: 200px;
}

.mtleft {
    margin-left: 20px;
    color: white;
    
    width: 350px;
    height: 300px;
    border-radius: 20px;
}

.fonte {
    font-size: 21px;
    font-weight: 600;
}

.pos {
    margin-right: 20px;
    height: 350px;
    width: 270px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 5px 5px black;
    
}

.texto {
    
    padding-left: 30px;
    padding-top: 25px;
    color: black;
    font-size: 23px;
    font-weight: 600;
}

.coloca {
    width: 200px;
    height: 30px;
    margin-left: 25px;
    margin-top: 50px;
    border: 0;
    background-color: white;
    border-bottom: 1px solid gray;
    outline: none;
    padding-bottom: 15px;
}

.botao {
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 20px;
}

.coloca:focus {
    border-bottom: solid black 1px;
}

.coloca:hover {
    border-bottom: solid black 1px;
}


.imagem {
    background-image: url(cartaov2\ \(1\).png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

.texto2 {
    padding-left: 20px;
    padding-top: 10px;
}

